#!/usr/bin/make -f

override_dh_auto_install:
	dh_auto_install -- --no-source

override_dh_auto_build:
	dh_auto_build -O--buildsystem=golang -- -tags gtk_3_18

%:
	dh $@ --buildsystem=golang --with=golang
